#metric_block{
    column-count: 3;
  }
  
  #metric_value {
    column-span: 1;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
    font-family: sans-serif;
    font-size:32px;
  }
  
  #metric_label{
    column-span: 1;
    text-align:center;
    font-family: sans-serif;
    font-size:14px;
    margin-bottom: 0.1px
  }